<h2>About Me</h2>
<a href="{%url 'homeURLName'%}">Go to Homepage</a>
<br>
<br>
<body>
  Total of around 7 Years of Work Experience, of which 4 years in Automotive Embedded Software catering to Braking products for Commercial Vehicles. Currently Embedded Software Technical Leader with major responsibility in handling software deliveries to OEM.

  Working experience majorly pertains to developing and maintaining CAN and Diagnostics Application Software in C and Assembly Languages. Knowledgeable in Requirements Management, Software Configuration Management, Software Change Effort Estimation, Software Risk Assessment. Actively contributed to the development of an Autonomous Off-Highway Vehicle Control Product as the Software Architect.

  A fervent Technology enthusiast partaking and following the leaps of Technology in Autonomous, Connected and Electric Vehicles.

  TL-DR: Presently Technical Leader handling Application development of CAN, UDS and Error Handling for Pneumatic and Hydraulic Braking Systems. Have worked as Software Architect of an Autonomous Off-Highway Vehicle.
</body>

Copyright 2019
